PORT=3000
FRONTEND_ORIGIN=http://localhost:5173,http://localhost:5174,https://website-black-nine-73.vercel.app,https://www.riyasaxena.com
OWNER_EMAIL=studio@riyasaxena.com
MAIL_FROM="Riya Saxena Studio <studio@riyasaxena.com>"
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AIRTABLE_TOKEN=pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AIRTABLE_BASE_ID=appxxxxxxxxxxxxxxxx
AIRTABLE_TABLE_NAME=Registrations
