PORT=3000
FRONTEND_ORIGIN=http://localhost:5173,http://localhost:5174,https://website-navy-pi-99t2ssodtm.vercel.app
OWNER_EMAIL=studio@riyasaxena.com
MAIL_FROM="Riya Saxena Studio <studio@riyasaxena.com>"
RESEND_API_KEY=re_9xeFNcku_NkoDuGA316BkGEFK47oCzdg6
